.container {
    width: 454px;
    height: 454px;
    background-color: darkseagreen;
}

.content {
    width: 380px;
    height: 400px;
    left: 37px;
    top: 27px;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 380px;
    height: 40px;
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.status-text {
    width: 340px;
    height: 50px;
    font-size: 18px;
    color: forestgreen;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.name-input {
    width: 320px;
    height: 50px;
    background-color: beige;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}

.button-row {
    width: 340px;
    height: 60px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
}

.btn-put {
    width: 90px;
    height: 50px;
    background-color: forestgreen;
    color: white;
    font-size: 14px;
    border-radius: 25px;
}

.btn-get {
    width: 90px;
    height: 50px;
    background-color: cornflowerblue;
    color: white;
    font-size: 14px;
    border-radius: 25px;
}

.btn-delete {
    width: 90px;
    height: 50px;
    background-color: firebrick;
    color: white;
    font-size: 14px;
    border-radius: 25px;
}

.btn-EN {
    width: 50px;
    height: 50px;
    background-color: orange;
    color: white;
    font-size: 14px;
    border-radius: 25px;
}

.btn-TR {
    width: 50px;
    height: 50px;
    background-color: plum;
    color: white;
    font-size: 14px;
    border-radius: 25px;
}

.btn-DE {
    width: 50px;
    height: 50px;
    background-color: midnightblue;
    color: white;
    font-size: 14px;
    border-radius: 25px;
}

.btn-FR {
    width: 50px;
    height: 50px;
    background-color: crimson;
    color: white;
    font-size: 14px;
    border-radius: 25px;
}

.btn-ES {
    width: 50px;
    height: 50px;
    background-color: goldenrod;
    color: white;
    font-size: 14px;
    border-radius: 25px;
}

.btn-IT {
    width: 50px;
    height: 50px;
    background-color: seagreen;
    color: white;
    font-size: 14px;
    border-radius: 25px;
}
